.App {
  text-align: center;
}

.App-card {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid black;
  width: 100%;
  font-size: 30px;
  border-radius: 10px;
}

.App-formControl {
  font-size: 30px;
}
